<ion-header>
  <ion-toolbar>
    <ion-title>user-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!auth.token">
  <ion-button [href]="loginURL">Log In</ion-button>
</ion-content>
<ion-content *ngIf="auth.token">
  <ion-button (click)="auth.logout()" >Log Out</ion-button>
      <ion-item style="min-height: 400px;">
        <ion-label>Active JWT</ion-label>
        <ion-textarea rows="15" class="iontextarea" [ngModel]="auth.token" name="Active JWT" style="min-height: 400px;"></ion-textarea>
        <ion-textarea rows="15" class="iontextarea" [ngModel]="auth.decodedToken" name="Decoded JWT" style="min-height: 400px;"></ion-textarea>
      </ion-item>
</ion-content>
